<!doctype html>
<html class="no-js" lang="zxx">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Fashion</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">

<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',    filename='img/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/owl.carousel.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/slicknav.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/flaticon.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/progressbar_barfiller.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/gijgo.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/animate.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/animated-headline.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/magnific-popup.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/fontawesome-all.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/themify-icons.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/slick.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/nice-select.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<style>
  .line{
    display: flex;
    justify-content: center;
  }
  .flexcontainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .flexcontainer .flexcolumn{
    margin: 0px 25px;
  }
  .category{
    width: 100%;
    height: auto;
    background-color: #aaa;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
    border-radius: 10px;
  }
  .type{
    width: auto;
    height: auto;
    min-width: 250px;
    background-color: #ccc;
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
  }
  .block{
    margin: 50px 25px;
    background-color: #eee;
  }
  .subcats{
    width: auto;
    height: 45px;
    background-color: #ddd;
    margin: 25px 10px;
    padding: 0.5em;
    text-align: center;
    border-radius: 10px;
  }
  a .subcats{
    color: black;
    transition: 0.3s;
  }
  a .subcats:hover{
    cursor: pointer;
    background-color: #ccc;
    transition: 0.3s;
  }
</style>
</head>
<body class="full-wrapper">

<div id="preloader-active">
<div class="preloader d-flex align-items-center justify-content-center">
<div class="preloader-inner position-relative">
<div class="preloader-circle"></div>
<div class="preloader-img pere-text">
<img src="{{ url_for('static',    filename='img/logo/loder.png') }}" alt="">
</div>
</div>
</div>
</div>

<main>
  <div class="section-tittle mb-50">
    <h2>Shop with us</h2>
  </div>
<!-- <div class="container"> -->
<div class="flexcontainer">
  <div class="flexcolumn">
  <div class="category">Clothing & Accessories</div>

  <div class="line">
    <div class="block">
      <div class="type">Women</div>
      <a href="http://localhost:5000/shop/clothingaccessorieswomendresses/1">
        <div class="subcats">Dresses</div>
      </a>
      <a href="http://localhost:5000/shop/clothingaccessorieswomenshirtstopstees/1">
        <div class="subcats">Shirts, Tops & Tees</div>
      </a>
      <a href="http://localhost:5000/shop/clothingaccessorieswomenlingerieunderwear/1">
        <div class="subcats">Lingerie & Underwear</div>
      </a>
    </div>

    <div class="block">
      <div class="type">Men</div>
      <a href="http://localhost:5000/shop/clothingaccessoriesmenshirts/1">
        <div class="subcats">Shirts</div>
      </a>
      <a href="http://localhost:5000/shop/clothingaccessoriesmentrousers/1">
        <div class="subcats">Trousers</div>
      </a>
      <a href="http://localhost:5000/shop/clothingaccessoriesmenpolostees/1">
        <div class="subcats">Polos & Tees</div>
      </a>
      <a href="http://localhost:5000/shop/clothingaccessoriesmenjeans/1">
        <div class="subcats">Jeans</div>
      </a>
      <a href="http://localhost:5000/shop/clothingaccessoriesmensportswear/1">
        <div class="subcats">Sportswear</div>
      </a>
    </div>

    <div class="block">
      <div class="type">Baby</div>
      <a href="http://localhost:5000/shop/clothingaccessoriesbabybabyboys0-24m/1">
        <div class="subcats">Baby Boys 0-24m</div>
      </a>
    </div>
  </div>
  </div>
  <div class="flexcolumn">
  <div class="category">Shoes & Handbags</div>

  <div class="line">
    <div class="block">
      <div class="type">Shoes</div>
      <a href="http://localhost:5000/shop/shoeshandbagsshoeswomensshoes/1">
        <div class="subcats">Women's Shoes</div>
      </a>
      <a href="http://localhost:5000/shop/shoeshandbagsshoesmensshoes/1">
        <div class="subcats">Men's Shoes</div>
      </a>
    </div>
    <div class="block">
      <div class="type">Handbags & Clutches</div>
      <a href="http://localhost:5000/shop/shoeshandbagshandbagsclutcheshandbags/1">
        <div class="subcats">Handbags</div>
      </a>
    </div>
  </div>

  <div class="category">Bags, Wallets and Luggage</div>

  <div class="line">
    <div class="block">
      <div class="type">Bags & Backpacks</div>
      <a href="http://localhost:5000/shop/bagswalletsandluggagebagsbackpacksbackpacks/1">
        <div class="subcats">Backpacks</div>
      </a>
  </div>
  </div>
</div>

</main>

<div id="back-top">
<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<script src="{{ url_for('static',    filename='js/vendor/modernizr-3.5.0.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static',    filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/slick.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.slicknav.min.js') }}"></script>

<script src="{{ url_for('static',    filename='js/wow.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/animated.headline.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.magnific-popup.js') }}"></script>
<script src="{{ url_for('static',    filename='js/gijgo.min.js') }}"></script>

<script src="{{ url_for('static',    filename='js/jquery.nice-select.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.sticky.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.barfiller.js') }}"></script>

<script src="{{ url_for('static',    filename='js/jquery.counterup.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/waypoints.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.countdown.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/hover-direction-snake.min.js') }}"></script>

<script src="{{ url_for('static',    filename='js/contact.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.form.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/mail-script.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.ajaxchimp.min.js') }}"></script>

<script src="{{ url_for('static',    filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static',    filename='js/main.js') }}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>
</html>