<!doctype html>
<html class="no-js" lang="zxx">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Fashion | Teamplate</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',    filename='img/favicon.ico') }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

<link rel="stylesheet" href="{{ url_for('static',    filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/owl.carousel.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/slicknav.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/flaticon.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/progressbar_barfiller.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/gijgo.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/animate.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/animated-headline.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/magnific-popup.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/fontawesome-all.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/themify-icons.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/slick.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/nice-select.css') }}">
<link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">

<style>
  .input-cat{
    width: 100%;
    height: 45px;
    background: #fff;
    border-radius: 5px;
    padding: 11px 19px 11px 18px;
    color: #616875;
    line-height: 20px;
    border: 1px solid #ededed;
    margin-bottom: 20px
  }
  .button-cat{
    width: 100%;
    height: 45px;
    background: #ddd;
    border-radius: 5px;
    padding: 11px 19px 11px 18px;
    color: #616875;
    line-height: 20px;
    border: 1px solid #ededed;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .button-cat:hover{
    background: #ccc;
    transition: 0.5s;
  }
  </style>

<script>
  var xmlhttp = new XMLHttpRequest();
  var typeAndid = window.location.href.split("/shop/")[1];
  var id = typeAndid.split("/")[1];
  var type = typeAndid.split("/")[0];
  var url = "/products/" + type +"/" + id;
  xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
          var myArr = JSON.parse(this.responseText);
          printJ(myArr);
      }
  };
  xmlhttp.open("GET", url, true);
  xmlhttp.send();


  var productList = "";
  //Adds the dresses to the list
  function printJ(json){
    productList = "";
    // //var ul = document.getElementById("list");
    // console.log(json);
    // console.log(json.products);
    for(let i = 0; i < json.products.length; i++) {
      var product = json.products[i];
      var prodHTML = createProduct(product);
      productList += prodHTML;
      


    }
    document.getElementById("productList").innerHTML = productList;
  }


    function createProduct(product)  {
      var elastic_id = product._id
      var brand = product._source.brand;
      var gender = product._source.gender;
      var image = product._source.image_filename;
      var name = product._source.name;
      var price = product._source.price;
      
      return ("<div class=\"col-xl-4 col-lg-4 col-md-6 col-sm-6\">\n"+
"<div class=\"single-new-arrival mb-50 text-center\">\n"+
"<div style=\"width: 264px; height: 330px; overflow: hidden;\" class=\"popular-img\">\n"+
"<img id = img0 style=\"min-width: 100%; min-height: 100%;\" src=\"" + image + "\" alt=\"\">\n"+
"<div class=\"favorit-items\">\n"+
"<img src=\"{{ url_for('static',    filename='img/gallery/favorit-card.png') }}\" alt=\"\">\n"+
"</div>\n"+
"</div>\n"+
"<div class=\"popular-caption\">\n"+
"<h3><a id = name0 href=\"product_details.html\">" + name + "</a></h3>\n"+
"<div class=\"rating mb-10\">\n"+
"<i class=\"fas fa-star\"></i>\n"+
"<i class=\"fas fa-star\"></i>\n"+
"<i class=\"fas fa-star\"></i>\n"+
"<i class=\"fas fa-star\"></i>\n"+
"<i class=\"fas fa-star\"></i>\n"+
"</div>\n"+
"<span id = price0 >" + price + " €" + "</span>\n"+
"</div>\n"+
"</div>\n"+
"</div>\n");
    }

  function useFilter()  {
  //filter/<currentIndex>&filter=taxonomy&text=red
  var filterSearch = "";
  document.getElementById("productList").innerHTML = "";
  
  var color = document.getElementById("color").value;
  if (color != "") filterSearch = "http://localhost:5000/filter/" + type + "/" + "taxonomy" + "/" + color
  xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
          var myArr = JSON.parse(this.responseText);
          printJ(myArr);
      }
  };
  xmlhttp.open("GET", filterSearch, true);
  xmlhttp.send();

  }

</script>
</head>
<body class="full-wrapper">

<div id="preloader-active">
<div class="preloader d-flex align-items-center justify-content-center">
<div class="preloader-inner position-relative">
<div class="preloader-circle"></div>
<div class="preloader-img pere-text">
<img src="{{ url_for('static',    filename='img/logo/loder.png') }}" alt="">
</div>
</div>
</div>
</div>

<main>

<div class="">
<div class="container">
<div class="row">
<div class="col-xl-7 col-lg-8 col-md-10">
<div class="section-tittle mb-50">
  <a href = "http://localhost:5000">
    <h2>Shop with us</h2>
  </a>

</div>
</div>
</div>
<div class="row">

  <div class="col-xl-3 col-lg-3 col-md-4 ">
  
  <div class="category-listing mb-50">
  
  <div class="single-listing">
  
  <div class="select-job-items2">
    <input id = "color" class="input-cat" placeholder="Color">
    </input>
  </div>
  <div class="select-job-items2">
    <input id = "price" class="input-cat" placeholder="Price">
    </input>
  </div>
  <div class="select-job-items2">
    <input id = "gender" class="input-cat" placeholder="Gender">
    </input>
  </div>
  <div class="select-job-items2">
    <input id = "brand" class="input-cat" placeholder="Brand">
    </input>
  </div>
  <div class="select-job-items2">
    <select name="select6">
    <option value="">Max Price</option>
    <option value="">$10</option>
    <option value="">$20</option>
    <option value="">$50</option>
    <option value="">$100</option>
    <option value="">$200</option>
    <option value="">$500</option>
    </select>
  </div>
  <div class="select-job-items2">
    <button type="button" class="button-cat" onclick="useFilter()">
      Search
    </button>
  </div>

</div>
</div>

</div>

<div class="col-xl-9 col-lg-9 col-md-8 ">
<div class="new-arrival new-arrival2">
<div id="productList" class="row">


</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>

</div>

</main>

<div class="search-model-box">
<div class="h-100 d-flex align-items-center justify-content-center">
<div class="search-close-btn">+</div>
<form class="search-model-form">
<input type="text" id="search-input" placeholder="Searching key.....">
</form>
</div>
</div>

<div style = "text-align: center; padding-bottom: 100px;">
  <a id = "back_arrow" href = "" >
    <img style = "display: inline-block; margin-left: auto; margin-right: auto; height: 50px; transform: rotate(180deg); " src="{{ url_for('static',    filename='img/icon/arrow.png') }}" alt="">
  </a>
  <a id = "front_arrow" href = "" >
    <img style = "display: inline-block; margin-left: auto; margin-right: auto; height: 50px;" src="{{ url_for('static',    filename='img/icon/arrow.png') }}" alt="">  
  </a>
  </div>
<div id="back-top">
<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<script>
  var typeAndid = window.location.href.split("/shop/")[1];
  var pageID = typeAndid.split("/")[1];
  var next = parseInt(pageID) +1;
  var prev = parseInt(pageID)- 1;
  if(pageID == 1) {
    document.getElementById("back_arrow").href = window.location.href;
    document.getElementById("front_arrow").href = window.location.href.split("/" + pageID)[0] + "/" + next;
  } else {
    document.getElementById("back_arrow").href = window.location.href.split("/" + pageID)[0] + "/" + prev;
    document.getElementById("front_arrow").href = window.location.href.split("/" + pageID)[0] + "/" + next;
  }
</script>

<script src="{{ url_for('static',    filename='js/vendor/modernizr-3.5.0.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static',    filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/slick.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.slicknav.min.js') }}"></script>

<script src="{{ url_for('static',    filename='js/wow.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/animated.headline.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.magnific-popup.js') }}"></script>
<script src="{{ url_for('static',    filename='js/gijgo.min.js') }}"></script>

<script src="{{ url_for('static',    filename='js/jquery.nice-select.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.sticky.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.barfiller.js') }}"></script>

<script src="{{ url_for('static',    filename='js/jquery.counterup.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/waypoints.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.countdown.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/hover-direction-snake.min.js') }}"></script>

<script src="{{ url_for('static',    filename='js/contact.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.form.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static',    filename='js/mail-script.js') }}"></script>
<script src="{{ url_for('static',    filename='js/jquery.ajaxchimp.min.js') }}"></script>

<script src="{{ url_for('static',    filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static',    filename='js/main.js') }}"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>
</html>